.join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}
.left-j{
    flex: 1 1;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    gap: 2rem;
    position: relative;
    padding: 2rem;
}
.left-j>div{
    display: flex;
    gap: 2rem;
}

.left-j>hr{
    width: 10.5rem;
    border: 2px solid var(--orange);
    position: absolute;
    border-radius: 20%;
    margin: -10px 0;
}
.right-j{
    flex:  1 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
}

::placeholder{
    color: var(--lightgray);
}
.btn-j{
    color: white;
    background-color: var(--orange);
}